<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Comparação pedido anterior</ion-title>

    <ion-button (click)="closeModal()" mode="ios" slot="end">
        <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="abrirComparacaoItens()" data-desc="Comparar Itens">
        <ion-icon name="git-compare"></ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- DADOS DO PEDIDO ATUAL -->
  <ion-card color="light">
    <ion-card-content class="corAtual">
        <!-- DADOS DO PEDIDO -->
        <div>
          <!-- <ion-label class="titulo">Representante: </ion-label> -->
          <ion-label>{{ pedido.vendedorCodigo }} - {{ pedido.vendedorNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Cliente: </ion-label> -->
          <ion-label>{{ pedido.cdcliente}} - {{ pedido.clienteNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Nome Fantasia: </ion-label> -->
          <ion-label>{{ pedido.clienteFantasia }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Tabela: </ion-label> -->
          <ion-label>{{pedido.tipotabelaCodigo}} - {{ pedido.tipotabelaDescricao }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">Pedido: </ion-label>
          <ion-label>{{pedido.cdpedido}} - {{pedido.dtpedido | date: 'dd/MM/yyyy' }} : {{pedido.hrpedido}}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Tabela:</ion-label>
          <ion-label>{{pedido.totaltabela | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Mínimo:</ion-label>
          <ion-label>{{pedido.valorreferenciatotal | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Desc/Acres:</ion-label>
          <ion-label *ngIf="pedido.totalvenda > pedido.totaltabela"> {{pedido.totalvenda - pedido.totaltabela | currency:'&nbsp;' }} (+)</ion-label>
          <ion-label *ngIf="pedido.totaltabela > pedido.totalvenda"> {{pedido.totaltabela - pedido.totalvenda | currency:'&nbsp;' }} (-)</ion-label>
          <ion-label *ngIf="pedido.totaltabela == pedido.totalvenda">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Venda:</ion-label>
          <ion-label>{{pedido.totalvenda | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Gordura R:</ion-label>
          <ion-label *ngIf="pedido.gordurausada > 0">{{pedido.gordurausada | currency:'&nbsp;' }} (-) </ion-label>
          <ion-label *ngIf="pedido.gorduragerada > 0">{{pedido.gorduragerada | currency:'&nbsp;' }} (+) </ion-label>
          <ion-label *ngIf="pedido.gordurausada == 0 && pedido.gorduragerada == 0">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="tituloVerm">R$ Gordura S:</ion-label>
          <ion-label class="Verm">{{pedido.valalorPendenteGordura| currency:'&nbsp;' }}</ion-label>
        </div>    
        <div>
          <ion-label class="titulo">Peso Liquido | Peso Bruto | Volume | Produtos: </ion-label>
          <ion-label>{{pedido.pesoliquidototal| currency:'&nbsp;' }} | {{pedido.pesobrutototal| currency:'&nbsp;' }} | {{pedido.totalvolume}} | {{pedido.totalprodutos}}</ion-label>
        </div>
        <!-- DADOS DO PEDIDO -->
    </ion-card-content>
  </ion-card>


   <!-- DADOS DO PEDIDO ANTERIOR -->
   <ion-card color="light">
    <ion-card-content class="corAnterior">
        <!-- DADOS DO PEDIDO -->
        <div>
          <!-- <ion-label class="titulo">Representante: </ion-label> -->
          <ion-label>{{ pedidoAnterior.vendedorCodigo }} - {{ pedidoAnterior.vendedorNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Cliente: </ion-label> -->
          <ion-label>{{ pedidoAnterior.cdcliente}} - {{ pedidoAnterior.clienteNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Nome Fantasia: </ion-label> -->
          <ion-label>{{ pedidoAnterior.clienteFantasia }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Tabela: </ion-label> -->
          <ion-label>{{pedidoAnterior.tipotabelaCodigo}} - {{ pedidoAnterior.tipotabelaDescricao }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">Pedido: </ion-label>
          <ion-label>{{pedidoAnterior.cdpedido}} - {{pedidoAnterior.dtpedido | date: 'dd/MM/yyyy' }} : {{pedidoAnterior.hrpedido}}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Tabela:</ion-label>
          <ion-label>{{pedidoAnterior.totaltabela | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Mínimo:</ion-label>
          <ion-label>{{pedidoAnterior.valorreferenciatotal |currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Desc/Acres:</ion-label>
          <ion-label *ngIf="pedidoAnterior.totalvenda > pedidoAnterior.totaltabela"> {{pedidoAnterior.totalvenda - pedidoAnterior.totaltabela | currency:'&nbsp;' }} (+)</ion-label>
          <ion-label *ngIf="pedidoAnterior.totaltabela > pedidoAnterior.totalvenda"> {{pedidoAnterior.totaltabela - pedidoAnterior.totalvenda | currency:'&nbsp;' }} (-)</ion-label>
          <ion-label *ngIf="pedidoAnterior.totaltabela == pedidoAnterior.totalvenda">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Venda:</ion-label>
          <ion-label>{{pedidoAnterior.totalvenda | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Gordura R:</ion-label>
          <ion-label *ngIf="pedidoAnterior.gordurausada > 0">{{pedidoAnterior.gordurausada | currency:'&nbsp;' }} (-) </ion-label>
          <ion-label *ngIf="pedidoAnterior.gorduragerada > 0">{{pedidoAnterior.gorduragerada | currency:'&nbsp;' }} (+) </ion-label>
          <ion-label *ngIf="pedidoAnterior.gordurausada == 0 && pedidoAnterior.gorduragerada == 0">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="tituloVerm">R$ Gordura S:</ion-label>
          <ion-label class="Verm">{{pedidoAnterior.valalorPendenteGordura| currency:'&nbsp;' }}</ion-label>
        </div>    
        <div>
          <ion-label class="titulo">Peso Liquido | Peso Bruto | Volume | Produtos: </ion-label>
          <ion-label>{{pedidoAnterior.pesoliquidototal| currency:'&nbsp;' }} | {{pedidoAnterior.pesobrutototal| currency:'&nbsp;' }} | {{pedidoAnterior.totalvolume}} | {{pedidoAnterior.totalprodutos}}</ion-label>
        </div>
        <!-- DADOS DO PEDIDO -->
    </ion-card-content>
  </ion-card>

</ion-content>