<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar mode="ios" [(ngModel)]="filtro" (ionChange)="filtrarPedidos()" color="light" placeholder="Filtrar"
    class="filtro">
  </ion-searchbar>

  <div class="bar bar-header bar-stable">
    <h1 class="title">Flex</h1>
  </div>

  <!-- <div class="bar bar-header bar-stable display-inline-block">
    <h2 class="title">Inicio: R$ {{saldoGorduraInicio.toString().replace(".",",")}}</h2>
  </div>

  <div class="bar bar-header bar-stable display-inline-block">
    <h2 class="title">Usado: R$ {{saldoGorduraUsado.toString().replace(".",",")}}</h2>
  </div>

  <div class="bar bar-header bar-stable display-inline-block">
    <h2 class="title">Disponivel: R$ {{(saldoGorduraInicio - saldoGorduraUsado).toString().replace(".",",")}}</h2>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h2 class="title">Inicio:</h2>
          <h2 class="title">R$ {{saldoGorduraInicio.toString().replace(".",",")}}</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 class="title">Usado:</h2>
          <h2 class="title">R$ {{saldoGorduraUsado.toString().replace(".",",")}}</h2>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2 class="title">Disponivel:</h2>
          <h2 class="title">R$ {{(saldoGorduraInicio - saldoGorduraUsado).toString().replace(".",",")}}</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-card mode="ios" *ngFor="let pedido of pedidosFiltrados" color="light">

      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button color="primary" (click)="abrirResumo(pedido)" data-desc="Resumo">
            <ion-icon name="paper"></ion-icon>
          </ion-fab-button>

          <ion-fab-button color="primary" (click)="abrirItensPedido(pedido)" data-desc="Itens">
            <ion-icon name="list"></ion-icon>
          </ion-fab-button>

          <ion-fab-button color="primary" (click)="abrirUltimoPedido(pedido)" data-desc="Comparar com anterior">
            <ion-icon name="git-compare"></ion-icon>
          </ion-fab-button>
          
        </ion-fab-list>
      </ion-fab>

      <ion-card-content>
        <!-- DADOS DO REPRESENTANTE -->
        <div>
          <!-- <ion-label class="titulo">Representante: </ion-label> -->
          <ion-label>{{ pedido.vendedorCodigo }} - {{ pedido.vendedorNome }}</ion-label>
        </div>
        <!-- DADOS DO REPRESENTANTE -->

        <!-- DADOS DO CLIENTE -->
        <div>
          <!-- <ion-label class="titulo">Cliente: </ion-label> -->
          <ion-label>{{ pedido.cdcliente}} - {{ pedido.clienteNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Nome Fantasia: </ion-label> -->
          <ion-label>{{ pedido.clienteFantasia }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">CNPJ: </ion-label> -->
          <ion-label>{{ pedido.clienteCnpj}} | {{ pedido.clienteInscrestadual}}</ion-label>
          &nbsp;
          <!-- <ion-label class="titulo">IE: </ion-label> -->
          <!-- <ion-label>{{ pedido.clienteInscrestadual}}</ion-label> -->
        </div>
        <div>
          <!-- <ion-label class="titulo">Cidade: </ion-label> -->
          <ion-label>{{ pedido.clienteCidade}}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Telefone: </ion-label> -->
          <ion-label>{{ pedido.clienteFone}}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Tipo tabela: </ion-label> -->
          <ion-label>{{pedido.tipotabelaCodigo}} - {{ pedido.tipotabelaDescricao }}</ion-label>
        </div>
        <!-- DADOS DO CLIENTE -->

        <!-- DADOS DO PEDIDO -->
        <div>
          <ion-label class="titulo">N pedido: </ion-label>
          <ion-label *ngIf="pedido.cdvenda == 'V'">{{pedido.cdpedido}} - VENDA</ion-label>
          <ion-label *ngIf="pedido.cdvenda == 'B'">{{pedido.cdpedido}} - BONOFICACAO</ion-label>
        </div>
        <div>
          <ion-label class="titulo">Data: </ion-label>
          <ion-label>{{pedido.dtpedido | date: 'dd/MM/yyyy' }} {{pedido.hrpedido}}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Tabela: </ion-label>
          <ion-label>{{pedido.totaltabela | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Mínimo: </ion-label>
          <ion-label>{{pedido.valorreferenciatotal |currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Desc/Acres:</ion-label>
          <ion-label>{{pedido.totalvenda }} -  {{ pedido.totaltabela }}</ion-label>
          <ion-label *ngIf="pedido.totaltabela < pedido.totalvenda"> essa{{pedido.totalvenda - pedido.totaltabela | currency:'&nbsp;' }} (+)</ion-label>
          <ion-label *ngIf="pedido.totaltabela > pedido.totalvenda"> {{pedido.totaltabela - pedido.totalvenda | currency:'&nbsp;' }} (-)</ion-label>
          <ion-label *ngIf="pedido.totaltabela == pedido.totalvenda">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Venda: </ion-label>
          <ion-label>{{pedido.totalvenda | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ ST: </ion-label>
          <ion-label>{{pedido.st | currency:'&nbsp;' }}</ion-label>
        </div>        
        <div>
          <ion-label class="titulo">R$ Gordura R:</ion-label>
          <ion-label *ngIf="pedido.gordurausada > 0">{{pedido.gordurausada | currency:'&nbsp;' }} (-) </ion-label>
          <ion-label *ngIf="pedido.gorduragerada > 0">{{pedido.gorduragerada | currency:'&nbsp;' }} (+) </ion-label>
          <ion-label *ngIf="pedido.gordurausada == 0 && pedido.gorduragerada == 0"> &nbsp;0,00</ion-label>
        </div>
        <div>
          <ion-label class="tituloVerm">R$ Gordura S:</ion-label>
          <ion-label class="Verm">{{pedido.valalorPendenteGordura| currency:'&nbsp;' }}</ion-label>
        </div>      
        <!-- <div>
          <ion-label class="titulo">Total desconto: </ion-label>
          <ion-label>{{pedido.totaldesconto | currency:'&nbsp;' }}</ion-label>
        </div> -->

        <div>
          <ion-label class="titulo">Peso Liquido | Peso Bruto | Volume | Produtos: </ion-label>
          <ion-label>{{pedido.pesoliquidototal }} | {{pedido.pesobrutototal }} | {{pedido.totalvolume}} | {{pedido.totalprodutos}}</ion-label>
        </div>

        <div>
          <ion-label *ngIf="pedido.motivousogordurasupervisor != '' " class="titulo">Motivo: </ion-label>
          <ion-label>{{pedido.motivousogordurasupervisor}}</ion-label>
        </div>

        <div>
          <ion-label *ngIf="pedido.descricaoHistoricoGordura != '' && pedido.descricaoHistoricoGordura != null " class="titulo">Forma de pagamento: </ion-label>
          <ion-label>{{pedido.descricaoHistoricoGordura}}</ion-label>
        </div>

        <div>
          <ion-label *ngIf="pedido.motivousogordura != '' && pedido.motivousogordura != null " class="titulo">Motivo: </ion-label>
          <ion-label>{{pedido.motivousogordura}}</ion-label>
        </div>
        <!-- <div *ngIf="pedido.pesobrutototal">
          <ion-label class="titulo">Peso bruto: </ion-label>
          <ion-label>{{pedido.pesobrutototal }}</ion-label>
        </div>
        <div *ngIf="pedido.pesoliquidototal">
          <ion-label class="titulo">Peso liquido: </ion-label>
          <ion-label>{{pedido.pesoliquidototal }}</ion-label>
        </div> -->
        <!-- DADOS DO PEDIDO -->


        <div class="ion-float-end ion-padding">
          <ion-button mode="ios" color="danger" (click)="confirmarRejeitarPedido(pedido)">
            <ion-icon mode="ios" name="close"></ion-icon>
            <ion-label class="ion-padding">Rejeitar</ion-label>
          </ion-button>

          <ion-button mode="ios" color="success" (click)="confirmarLiberarPedido(pedido)">
            <ion-icon mode="ios" name="checkmark-circle"></ion-icon>
            <ion-label class="ion-padding">Aprovar</ion-label>
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>