.datetimePeriodoLeft{
    width: 50%;
    float: left;
  }

  .datetimePeriodoRight{
    width: 50%;
  }
  .searchFilter{
    display: flex;
  }
  .filterFloatLeft{
    float: left;
    width: 33.3%;
  }