<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Histórico de Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar mode="ios" [(ngModel)]="representante" (ionChange)="filtrarPedidos()" color="light" placeholder="Representante"
    class="filtro">
  </ion-searchbar>

  <ion-searchbar mode="ios" [(ngModel)]="filtro" (ionChange)="filtrarPedidos()" color="light" placeholder="Filtrar"
  class="filtro">
</ion-searchbar>

  <ion-list>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="primary" (click)="abrirResumo(pedido)" data-desc="Resumo">
          <ion-icon name="paper"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="primary" (click)="abrirItensPedido(pedido)" data-desc="Itens">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="primary" (click)="abrirUltimoPedido(pedido)" data-desc="Comparar com anterior">
          <ion-icon name="git-compare"></ion-icon>
        </ion-fab-button>
        
      </ion-fab-list>
    </ion-fab>

    <ion-card mode="ios" *ngFor="let pedido of pedidosFiltrados" color="light">
      <ion-card-content>
        <!-- DADOS DO REPRESENTANTE -->
        <div>
          <!-- <ion-label class="titulo">Representante: </ion-label> -->
          <ion-label>{{ pedido.vendedorCodigo }} - {{ pedido.vendedorNome }}</ion-label>
        </div>
        <!-- DADOS DO REPRESENTANTE -->

        <!-- DADOS DO CLIENTE -->
        <div>
          <!-- <ion-label class="titulo">Cliente: </ion-label> -->
          <ion-label>{{ pedido.cdcliente}} - {{ pedido.clienteNome }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Nome Fantasia: </ion-label> -->
          <ion-label>{{ pedido.clienteFantasia }}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">CNPJ: </ion-label> -->
          <ion-label>{{ pedido.clienteCnpj}} | {{ pedido.clienteInscrestadual}}</ion-label>
          &nbsp;
          <!-- <ion-label class="titulo">IE: </ion-label> -->
          <!-- <ion-label>{{ pedido.clienteInscrestadual}}</ion-label> -->
        </div>
        <div>
          <!-- <ion-label class="titulo">Cidade: </ion-label> -->
          <ion-label>{{ pedido.clienteCidade}}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Telefone: </ion-label> -->
          <ion-label>{{ pedido.clienteFone}}</ion-label>
        </div>
        <div>
          <!-- <ion-label class="titulo">Tipo tabela: </ion-label> -->
          <ion-label>{{pedido.tipotabelaCodigo}} - {{ pedido.tipotabelaDescricao }}</ion-label>
        </div>
        <!-- DADOS DO CLIENTE -->

        <!-- DADOS DO PEDIDO -->
        <div>
          <ion-label class="titulo">N pedido: </ion-label>
          <ion-label>{{pedido.cdpedido}} </ion-label>
          &nbsp;
          <ion-label class="titulo">Data: </ion-label>
          <ion-label>{{pedido.dtpedido | date: 'dd/MM/yyyy' }} {{pedido.hrpedido}}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Tabela: </ion-label>
          <ion-label>{{pedido.totaltabela | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Mínimo: </ion-label>
          <ion-label>{{pedido.valorreferenciatotal |currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Desc/Acres:</ion-label>
          <ion-label>{{pedido.totalvenda }} -  {{ pedido.totaltabela }}</ion-label>
          <ion-label *ngIf="pedido.totaltabela < pedido.totalvenda"> essa{{pedido.totalvenda - pedido.totaltabela | currency:'&nbsp;' }} (+)</ion-label>
          <ion-label *ngIf="pedido.totaltabela > pedido.totalvenda"> {{pedido.totaltabela - pedido.totalvenda | currency:'&nbsp;' }} (-)</ion-label>
          <ion-label *ngIf="pedido.totaltabela == pedido.totalvenda">&nbsp; 0,00</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ Venda: </ion-label>
          <ion-label>{{pedido.totalvenda | currency:'&nbsp;' }}</ion-label>
        </div>
        <div>
          <ion-label class="titulo">R$ ST: </ion-label>
          <ion-label>{{pedido.st | currency:'&nbsp;' }}</ion-label>
        </div>        
        <div>
          <ion-label class="titulo">R$ Gordura R:</ion-label>
          <ion-label *ngIf="pedido.gordurausada > 0">{{pedido.gordurausada | currency:'&nbsp;' }} (-) </ion-label>
          <ion-label *ngIf="pedido.gorduragerada > 0">{{pedido.gorduragerada | currency:'&nbsp;' }} (+) </ion-label>
          <ion-label *ngIf="pedido.gordurausada == 0 && pedido.gorduragerada == 0"> &nbsp;0,00</ion-label>
        </div>
        <div>
          <ion-label class="tituloVerm">R$ Gordura S:</ion-label>
          <ion-label class="Verm">{{pedido.valalorPendenteGordura| currency:'&nbsp;' }}</ion-label>
        </div>      


        <div>
          <ion-label class="titulo">Peso Liquido | Peso Bruto | Volume | Produtos: </ion-label>
          <ion-label>{{pedido.pesoliquidototal }} | {{pedido.pesobrutototal }} | {{pedido.totalvolume}} | {{pedido.totalprodutos}}</ion-label>
        </div>


      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>